# Assignment 1

In [1]:
#1-Create a variable age and assign it the value 25 . Then print the value of age along with its data type using the type() function.
age = 25
type(age)

int

In [2]:
#2-Assign the number 12.5 to a variable price . Print both the variable and itsdata type. Then assign the value 12 to the same variable and print its data
#type again. What do you observe?
price = 12.5
print(price, type(price))
price = 12
print(price, type(price))

12.5 <class 'float'>
12 <class 'int'>

In [3]:
#3-Create a variable is_raining and set it to True . Print the value of the variable
#along with its type. Then set is_raining to False and print the new value and type.
is_raining = True
print(is_raining, type(is_raining))
is_raining = False
print(is_raining, type(is_raining))

True <class 'bool'>
False <class 'bool'>

In [4]:
#4-Create a variable my_name and store your full name in it as a string. Then print the value of my_name using single quotes ' .
my_name = 'Prashant Vinayak Rathod'
print(f"'{my_name}'")

'Prashant Vinayak Rathod'

In [6]:
#5-Write a Python program that asks the user for their name and age using the input() function. Store the inputs in variables and print a sentence like
#"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an integer.
name = input("enter name- ")
age = int(input("enter age- "))
print(f"Hello, {name}! your are {age} year old")

enter name-  Prashant
enter age-  45

Hello, Prashant! your are 45 year old

In [7]:
#6-Create two variables x and y and assign them the values 10 and 3.5 ,respectively. Print their values and types. Then, create a new variable
#sum_xy and store the sum of x and y . Print the result and its type.
x = 10
y = 3.5
print(x, type(x))
print(y, type(y))
sum_xy = x + y
print(sum_xy, type(sum_xy))

10 <class 'int'>
3.5 <class 'float'>
13.5 <class 'float'>

In [8]:
#7-Using the type() function, check and print the data type of the following:
#45.0, "hello", None, False
print(type(45.0))
print(type("hello"))
print(type(None))
print(type(False))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [9]:
#8-Write a Python program to print three strings "apple" , "banana" , and "cherry" on the same line, separated by a space. Then modify the program to
#separate the strings using a comma , instead of a space.
print("apple"" ""banana"" ""cherry")
print("apple"",""banana"",""cherry")

apple banana cherry
apple,banana,cherry

In [10]:
#9-Create a variable big_number and assign it a very large integer value (e.g.,987654321987654321 ). Print the value and its type. What do you notice about
#the size of the number?
big_number = 789456123321654987
print(big_number, type(big_number))

789456123321654987 <class 'int'>

In [11]:
#10-Write a Python program that prints the result of multiplying two floats (e.g.,2.5 and 3.7 ). Then check and print the data type of the result.
a = 2.5
b = 3.7
print((a * b), type(a * b))

9.25 <class 'float'>